name: ci

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


jobs:
  run_api:
    runs_on: ubuntu-latest
    defaults:
      run:
        working-directory: ./apps/api
    steps:
      - uses: actions/checkout@v3
      - name: Install modules
        run: yarn install
      - name: Run API
        run: yarn dev


