name: ci

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  yarn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Yarn
        run: npm install --global yarn
        
  api:
    needs: yarn
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/
    steps:
      - uses: actions/checkout@v3
      - name: Install API modules
        run: |
          pwd
          cd api
          yarn install
          yarn dev
          sleep 5
          cd ..
          cd web
          yarn install
          yarn dev
          sleep 5
          cd ..
          cd ..
          yarn playwright test tasks
