name: ci

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  yarn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Yarn
        run: npm install --global yarn
        
  api:
    needs: yarn
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/
    steps:
      - uses: actions/checkout@v3
      - name: Install API modules
        run: |
          pwd
          cd api
          yarn install
          yarn dev &
          cd ..
          cd web
          yarn install
          yarn dev &
          cd ..
          cd ..
          yarn install
          npx playwright install chromium
          yarn playwright test tasks
      - uses: actions/upload-artifact@v3.1.2
        if: always()
        with:
         name: playwright-report
         path: playwright-report/
         retention-days: 30
