name: ci

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  yarn:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Yarn
        run: npm install --global yarn
        
  test_environment:
    needs: yarn
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/
    steps:
      - uses: actions/checkout@v3
      - name: Install modules, start API and Web services and run all tests
        run: |
          pwd
          cd api
          yarn install
          yarn dev &
          cd ..
          cd web
          yarn install
          yarn dev &

  test:
    needs: test_environment
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install modules
      run: yarn install
    - name: Install Playwright Chromium
      run: yarn add playwright-chromium
    - name: Run Playwright test
      run: yarn playwright test          
    - uses: actions/upload-artifact@v3.1.2
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
